.CardItem {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    width: 300px;
    transition: transform 0.3s ease;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
}

.ItemImg {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.Info {
    font-size: 16px;
    margin: 10px 0;
    padding: 0 10px;
    box-sizing: border-box;
    text-align: left;
    width: 100%;
}

.ItemFooter {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
